$grey-color: #686868;
@mixin btn {
  border: 1px solid #b4712f;
  background-color: #b4712f;
  color: #ffffff;
  border-radius: 5px;
  font-size: 20px;
  width: 100%;
  height: 4vh;
  margin-bottom: 1rem;
}

.main {
  height: 100vh;
  width: 100vw;
  // justify-content: center;
  display: flex;
  background-color: #faf7e8;
  .border {
    overflow: auto;
    margin: auto;
    height: 90vh;
    width: 80vw;
    border-radius: 50px;
    background-color: #fffef8;
    border: 1px solid $grey-color;
    .title {
      color: $grey-color;
      margin: 100px 0px 30px 0px;
      font-size: 30px;
      text-align: center;
    }
    .context {
      padding: 10px 10px 10px 10px;
      margin: auto;
      height: 60vh;
      width: 60vw;
      .idCheck {
        display: block;
        .idCheckDiv {
          display: flex;
          width: 100%;
        }
        .duplicateCheck {
          border: 1px solid #b4712f;
          background-color: #b4712f;
          color: #ffffff;
          border-radius: 5px;
          width: 150px;
          height: 30px;
          font-size: 18px;
          margin: 32px 0px 0px 30px;
        }
      }
      // span {
      //   text-align: left;
      //   float: left;
      //   margin-bottom: 1rem;
      //   width: 100%;
      // .message {
      //   text-align: left;
      //   float: left;
      //   margin-bottom: 1rem;
      //   width: 100%;
      //   &.success {
      //     color: $grey-color;
      //   }
      //   &.error {
      //     color: #f90505;
      //   }
      // }
      // }
      .message-success {
        color: $grey-color;
      }
      .messageerror {
        color: #f90505;
      }

      .checkbox {
        color: $grey-color;
        margin-bottom: 5rem;
        .cb {
          margin: 5px 5px 0px 0px;
          float: left;
        }
        .cbLabel {
          float: left;
        }
        .text {
          float: right;
        }
      }
      .signupBtn {
        @include btn();
      }
      .signupBtn:hover {
        color: #ffffff;
        background-color: #60370f;
      }
      .signupBtn:disabled {
        background: #b4712f;
      }
    }
  }
}
