/* #app { height: 100% } */
/* html,
body {
  position: relative;
  height: 100%;
} */

/* body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} */

.titleBox {
    text-align: center;
    margin-top: 100px;
}

.mySwiper_celeb {
  max-width: 1276px;
  height: 410px;
  margin-bottom: 100px;
}
 
.mySwiper_celeb .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  background: #fffef8;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.mySwiper_celeb .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper_celeb .swiper-button-next::after,
.mySwiper_celeb .swiper-button-prev::after {
  display: block;
}

.mySwiper_celeb  .swiper-pagination-bullet {
    display: none;
}